target/
.idea/
*.iml
*.log

.mvn/

# OS files
.DS_Store
Thumbs.db

# Build output
out/

# Environment files
.env
.env.*

# Local configs
application-local.properties
application-dev.properties

# Cursor / VSCode
.vscode/
